<div class="pokemon-list-container">
    <div *ngIf="hasImages; else spinner" class="pokemon-list">
        <ng-container *ngFor="let pokemon of pokemonList; index as i">
            <div *ngIf="i < limit" class="pokemon-list__pokemon">
                <a [routerLink]="['pokemon', pokemon.pokemon.entry_number]">
                    <div class="pokemon-list__image">
                        <img
                            [src]="pokemon.avatar"
                            [alt]="
                                pokemon.pokemon.pokemon_species.name + ' logo'
                            "
                        />
                    </div>

                    <div class="pokemon-list__name">
                        <h3>
                            {{
                                pokemon.pokemon.pokemon_species.name
                                    | capitalizeFirstLetter
                            }}
                        </h3>
                    </div>
                </a>
            </div>
        </ng-container>
    </div>
    <div class="pokemon-list-container__load-more-button">
        <button
            class="pokemon-list-container__load-more-button--button"
            nz-button
            nzType="primary"
            nzBlock
            (click)="loadMore()"
        >
            Load More
        </button>
    </div>
</div>

<ng-template #spinner>
    <nz-spin nzSimple></nz-spin>
</ng-template>
