<div class="pokemon-list-container">
    <div *ngIf="hasImages; else spinner" class="pokemon-list">
        <ng-container *ngFor="let pokemon of pokemonList; index as i">
            <div *ngIf="i < limit" class="pokemon-list__pokemon">
                <a [routerLink]="['pokemon', pokemon.entry_number]">
                    <pokemon-image [pokemon]="pokemon"></pokemon-image>

                    <div class="pokemon-list__name">
                        <h3>
                            {{
                                pokemon.pokemon_species.name
                                    | capitalizeFirstLetter
                            }}
                        </h3>
                    </div>
                </a>
            </div>
        </ng-container>
    </div>
    <div class="pokemon-list-container__load-more-button">
        <button
            [disabled]="limitReached"
            class="pokemon-list-container__load-more-button--button"
            nz-button
            nzType="primary"
            nzBlock
            (click)="loadMore()"
        >
            Load More
        </button>
    </div>
</div>

<ng-template #spinner>
    <nz-spin nzSimple></nz-spin>
</ng-template>
