.pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    &__pokemon {
        display: flex;
        align-content: center;
        text-align: center;
    }
}
