@import '../../scss//index.scss';
.types {
    &__wrapper {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        column-gap: 0.5rem;
        justify-content: center;
        .type {
            display: flex;
            justify-content: center;
            min-width: 50px;

            padding: 1rem 2rem;
            margin: 0 auto;
            border: 5px solid $pokedex-yellow;
            border-radius: 15px;
        }
    }
}
