@import '../../scss//index.scss';
.menu-bar {
    width: 100%;
    max-height: $menu-bar-height;
    position: fixed;
    background-color: $pokedex-yellow;
    padding: 1rem 3rem;
    display: flex;
    align-content: center;
}
