<div *ngIf="dataLoaded; else spinner" class="pokemon">
    <div class="pokemon__header">
        <button
            *ngIf="pokemon.id - 1"
            mat-flat-button
            color="primary"
            (click)="navigateToPokemon(pokemon.id - 1)"
            class="header__navigate-button header__navigate-button--back"
        >
            < #{{ pokemon.id - 1 | numberPad }}
            {{
                pokemonList[pokemon.id - 2].pokemon_species.name
                    | capitalizeFirstLetter
            }}
        </button>

        <h1 class="header__text">
            #{{ pokemon.id | numberPad }}
            {{ pokemon.name | capitalizeFirstLetter }}
        </h1>

        <button
            *ngIf="pokemon.id + 1"
            mat-flat-button
            color="primary"
            (click)="navigateToPokemon(pokemon.id + 1)"
            class="header__navigate-button header__navigate-button--forward"
        >
            #{{ pokemon.id + 1 | numberPad }}
            {{
                pokemonList[pokemon.id].pokemon_species.name
                    | capitalizeFirstLetter
            }}
            >
        </button>
    </div>

    <div class="pokemon__info">
        <div class="info__image">
            <pokemon-image
                className="info__avatar"
                [pokemon]="pokemon"
            ></pokemon-image>
        </div>
        <p class="info__flavour-text">
            {{ pokemonSpecies.flavor_text_entries[3].flavor_text }}
        </p>

        <div class="info__stats">
            <div class="stat" *ngFor="let stat of pokemon.stats">
                <h4>{{ stat.stat.name | capitalizeFirstLetter }}</h4>
                <span>{{ stat.base_stat }}</span>
            </div>
            <div class="stat">
                <h4>Height</h4>
                <span>{{ pokemon.height / 10 }}m</span>
            </div>
            <div class="stat">
                <h4>Weight</h4>
                <span>{{ pokemon.weight / 10 }}kg</span>
            </div>
        </div>

        <div class="info__types">
            <types
                [class]="'type type__' + type.type.name"
                [type]="type.type"
                *ngFor="let type of pokemon.types"
            >
            </types>
        </div>

        <weaknesses [types]="pokemon.types"></weaknesses>
    </div>

    <div class="pokemon__evolution-chain">
        <evolution-chain
            *ngIf="evolutionChainResponse"
            [evolutionChain]="evolutionChainResponse"
            (clickedOnEvolution)="receiveClickedOnEvolution($event)"
        ></evolution-chain>
    </div>

    <button
        [disabled]="loadingRoute"
        class="pokemon__back-button"
        mat-flat-button
        color="primary"
        (click)="goHome()"
    >
        <mat-icon class="arrow-icon">arrow_left_alt</mat-icon>
        Back to List
        <div class="back-button__spinner">
            <spinner
                *ngIf="loadingRoute"
                [className]="'spinner--button pokemon__back-button--spinner'"
                [diameter]="30"
            ></spinner>
        </div>
    </button>
</div>

<ng-template #spinner>
    <spinner [className]="'spinner--full-screen'"></spinner>
</ng-template>
