@import '../../scss//index.scss';
.pokemon {
    display: grid;

    &__image {
        height: 300px;
        width: 300px;
    }

    &__header {
        padding: 2rem;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        h1 {
            margin: 0 auto;
        }
        background-color: $pokedex-yellow;
    }
}
