<div class="pokemon">
    <h1>#{{ pokemon.id }} {{ name }}</h1>
    <div>
        <img
            class="pokemon__image"
            [src]="pokemon.sprites.front_default"
            [alt]="name + ' avatar'"
        />
    </div>
    <p>{{ pokemonSpecies.flavor_text_entries[52].flavor_text }}</p>
    <div class="pokemon__stats">
        <div *ngFor="let stat of pokemon.stats">
            <span>{{ stat.stat.name }}:</span><span>{{ stat.base_stat }}</span>
        </div>
        <div>
            <span>height:</span><span>{{ pokemon.height / 10 }}m</span>
        </div>
        <div>
            <span>weight:</span><span>{{ pokemon.weight / 10 }}kg</span>
        </div>
    </div>
    <evolution-chain
        *ngIf="evolutionChainResponse"
        [evolutionChain]="evolutionChainResponse"
    ></evolution-chain>
    <button nz-button nzType="primary" (click)="goBack()">Back</button>
</div>
