@import url('https://fonts.googleapis.com/css?family=Jost|Lato&display=swap');

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Jost', sans-serif;

//* Setting base for use with rems
$font-size-base: 16px;

$font-size-h1: 1.6rem;
$font-size-h2: 1.2rem;
$font-size-h3: 1.1rem;
$font-size-h4: 1rem;

// Toggle
$toggle-font-size: 1.2rem;
$color-selector-font-size: 1.2rem;
